In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2018, 4, 27, 21, 49, 0, 467254)

In [4]:
now.year, now.month, now.day

(2018, 4, 27)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta   # 代表他们之间的时间差   926=days   56700=seconds

datetime.timedelta(926, 56700)

In [7]:
 delta.days, delta.seconds

(926, 56700)

In [8]:
#加上（或减去）一个或多个timedelta
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)  # 默认加了天数

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [10]:
# 字符串和datetime的相互转换
# 1. 利用str或strftime方法  可以被格式化为字符串
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [11]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [13]:
# 2.datetime.strptime将字符串转换为日期
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [ ]:
# 总结 
# datetime.strptime是通过已知格式进行日期解析的最佳方式，但每次需要编写格式很麻烦，于是

In [17]:
from dateutil.parser import parse
print(parse('2011-01-03'))        # datetime.datetime(2011, 1, 3, 0, 0)
print(parse('Jan 31, 1997 10:45 PM'))
print(parse('6/12/2011', dayfirst=True))

2011-01-03 00:00:00
1997-01-31 22:45:00
2011-12-06 00:00:00

In [3]:
import pandas as pd
import numpy as np
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]   # Not a Time

NaT

In [23]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [24]:
# 
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.520291
2011-01-05   -0.684653
2011-01-07   -0.640419
2011-01-08   -0.988729
2011-01-10   -0.840361
2011-01-12   -0.253740
dtype: float64

In [25]:
ts.index   # 索引类型是DatetimeIndex  会自动排列的

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [26]:
ts + ts[::2]   # 6个 3个  有三个肯定为NaN

2011-01-02    1.040582
2011-01-05         NaN
2011-01-07   -1.280838
2011-01-08         NaN
2011-01-10   -1.680721
2011-01-12         NaN
dtype: float64

In [31]:
ts.index[0]   # 索引存的是 纳秒级别  是TimeStamp对象    ?  如何转化成为datetime对象

Timestamp('2011-01-02 00:00:00')

In [38]:
# 索引  选取  子集构建
ts

2011-01-02    0.520291
2011-01-05   -0.684653
2011-01-07   -0.640419
2011-01-08   -0.988729
2011-01-10   -0.840361
2011-01-12   -0.253740
dtype: float64

In [41]:
stamp = ts.index[2]
print(ts[stamp])   # 反正时间序列时间是唯一的 那么当做index来传没啥不好的 太开放了 不知道效率如何
print( ts['1/10/2011'])
print(ts['20110110'])

-0.640419042269
-0.840360688571
-0.840360688571

In [43]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01    0.175424
2000-01-02   -0.763080
2000-01-03    0.047151
2000-01-04    0.146266
2000-01-05   -0.520250
Freq: D, dtype: float64

In [45]:
longer_ts['2001'].head()   # 只会拿年份为2001的数据  
# 举一反三  
# longer_ts['2001-05']

2001-01-01    0.676484
2001-01-02   -0.952580
2001-01-03    0.134339
2001-01-04   -0.315963
2001-01-05   -0.070898
Freq: D, dtype: float64

In [47]:
ts

2011-01-02    0.520291
2011-01-05   -0.684653
2011-01-07   -0.640419
2011-01-08   -0.988729
2011-01-10   -0.840361
2011-01-12   -0.253740
dtype: float64

In [49]:
ts[datetime(2011, 1, 7) : ]   # 时间切片  还是感觉太随意了 不知道性能如何  
# 如果在这里改动数据    会改变源数据

2011-01-07   -0.640419
2011-01-08   -0.988729
2011-01-10   -0.840361
2011-01-12   -0.253740
dtype: float64

In [52]:
ts.truncate(after='1/9/2011')  # 截取指定时间之前的

2011-01-02    0.520291
2011-01-05   -0.684653
2011-01-07   -0.640419
2011-01-08   -0.988729
dtype: float64

In [60]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.167444 -0.415768 -0.715786 -2.218441
2000-01-12 -0.900059 -0.219703  0.263259 -0.586065
2000-01-19  0.193332 -0.303856 -0.402879 -1.422041
2000-01-26  0.715607  0.095076 -0.440607 -0.422330
2000-02-02 -2.142400 -0.187585  0.634134 -0.248768

In [61]:
long_df.loc['5-2001']   # 包含 2001年5月索引的数据

            Colorado     Texas  New York      Ohio
2001-05-02  0.640462 -0.369953 -0.323485  0.110238
2001-05-09 -0.138012  1.394770  1.320772 -0.669091
2001-05-16 -1.010147 -1.113818 -0.182233  0.058738
2001-05-23 -0.464971  0.600208  0.899978 -0.072496
2001-05-30 -0.520984  0.812043  0.681077 -0.063194

In [62]:
# 带有重复索引的时间序列 
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [63]:
dup_ts.index.is_unique

False

In [64]:
dup_ts['1/3/2000'] # 如果没有重复的 返回索引下标   有重复  全部返回

4

In [65]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [66]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [67]:
ts

2011-01-02    0.520291
2011-01-05   -0.684653
2011-01-07   -0.640419
2011-01-08   -0.988729
2011-01-10   -0.840361
2011-01-12   -0.253740
dtype: float64

In [71]:
resampler = ts.resample('D')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [72]:
index = pd.date_range('2012-04-01', '2012-06-01')
index   # 默认情况下回按天计算时间点

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [75]:
# 加入频率更好玩   BM : business end of month    还有很多其他的选择  
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [5]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)  # 规范化

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
# 频率和日期偏移量
from pandas.tseries.offsets import Hour, Minute
hour = Hour(4)
hour    # Hour(2) + Minute(30)   ===  <150 * Minutes>

In [15]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq=hour)
#pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')   # the same

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [21]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [25]:
# WOM日期   week of month  西方的爱好  
rng = pd.date_range('2000-01-01', '2000-09-01' ,freq='WOM-3FRI')  # 每个月第三个星期五
list(rng)

[Timestamp('2000-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-03-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-04-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-05-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-06-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-07-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2000-08-18 00:00:00', freq='WOM-3FRI')]

In [26]:
# 移动数据
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.371606
2000-02-29    0.665578
2000-03-31    0.987399
2000-04-30    0.334541
Freq: M, dtype: float64

In [27]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.371606
2000-04-30    0.665578
Freq: M, dtype: float64

In [29]:
ts/ts.shift(1) -1   # 这样的写法真的让我觉得世界太奇妙了

2000-01-31         NaN
2000-02-29    0.791082
2000-03-31    0.483522
2000-04-30   -0.661190
Freq: M, dtype: float64

In [30]:
ts.shift(2, freq='M')   # 加了频率后  不会去变动数据  而是会变动索引

2000-03-31    0.371606
2000-04-30    0.665578
2000-05-31    0.987399
2000-06-30    0.334541
Freq: M, dtype: float64

In [40]:
ts.shift(5, freq='D')   # 为啥第一个没了  ????

2000-02-05    0.371606
2000-03-05    0.665578
2000-04-05    0.987399
2000-05-05    0.334541
dtype: float64

In [42]:
ts.shift(1, freq='90T')  # 90min

2000-01-31 01:30:00    0.371606
2000-02-29 01:30:00    0.665578
2000-03-31 01:30:00    0.987399
2000-04-30 01:30:00    0.334541
Freq: M, dtype: float64

In [44]:
# 偏移量改变时间
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
print(now + 3*Day())    # 不和前面的套路一样么
print(now + MonthEnd())
print(now + MonthEnd(2))

2011-11-20 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00

In [45]:
offset = MonthEnd()
print(offset.rollforward(now))
print(offset.rollback(now))

2011-11-30 00:00:00
2011-10-31 00:00:00

In [46]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    0.222751
2000-01-19    0.760715
2000-01-23   -1.382710
2000-01-27    0.946520
2000-01-31   -0.566652
2000-02-04   -1.155654
2000-02-08   -0.868130
2000-02-12    0.479765
2000-02-16    0.612781
2000-02-20   -2.334238
2000-02-24   -0.090123
2000-02-28   -0.698686
2000-03-03   -0.035811
2000-03-07   -0.209010
2000-03-11   -1.545276
2000-03-15    0.029512
2000-03-19    1.779321
2000-03-23   -1.355362
2000-03-27   -0.292708
2000-03-31   -0.759225
Freq: 4D, dtype: float64

In [47]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.003875
2000-02-29   -0.579184
2000-03-31   -0.298570
dtype: float64

In [48]:
# 更简单、更快速地实现该功能的办法是使用resample
ts.resample('M').mean()

2000-01-31   -0.003875
2000-02-29   -0.579184
2000-03-31   -0.298570
Freq: M, dtype: float64

In [51]:
# 时区处理   有个库 直接用得了
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [52]:
tz = pytz.timezone('America/New_York')
tz

In [54]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)   # 没有指定时区
ts  # 这个写法非常nice

None

2012-03-09 09:30:00    0.594858
2012-03-10 09:30:00    0.958204
2012-03-11 09:30:00   -0.179405
2012-03-12 09:30:00   -0.023491
2012-03-13 09:30:00   -0.745872
2012-03-14 09:30:00    0.118561
Freq: D, dtype: float64

In [56]:
pd.date_range('3/9/2012 9:12', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:12:00+00:00', '2012-03-10 09:12:00+00:00',
               '2012-03-11 09:12:00+00:00', '2012-03-12 09:12:00+00:00',
               '2012-03-13 09:12:00+00:00', '2012-03-14 09:12:00+00:00',
               '2012-03-15 09:12:00+00:00', '2012-03-16 09:12:00+00:00',
               '2012-03-17 09:12:00+00:00', '2012-03-18 09:12:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [57]:
ts_utc = ts.tz_localize('UTC') # 将没有时区指定时区
ts_utc

2012-03-09 09:30:00+00:00    0.594858
2012-03-10 09:30:00+00:00    0.958204
2012-03-11 09:30:00+00:00   -0.179405
2012-03-12 09:30:00+00:00   -0.023491
2012-03-13 09:30:00+00:00   -0.745872
2012-03-14 09:30:00+00:00    0.118561
Freq: D, dtype: float64

In [61]:
# 一旦有了时区  就可以转化 切换到其他时区  
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.594858
2012-03-10 04:30:00-05:00    0.958204
2012-03-11 05:30:00-04:00   -0.179405
2012-03-12 05:30:00-04:00   -0.023491
2012-03-13 05:30:00-04:00   -0.745872
2012-03-14 05:30:00-04:00    0.118561
Freq: D, dtype: float64

In [62]:
# 特殊的 Timestamp对象
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [63]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow   # 莫斯科是欧洲的？？？

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [64]:
stamp_utc.value

1299902400000000000

In [70]:
# Period 时期
p = pd.Period(2007, freq='A-DEC')  # 表示2017年1月到2017年12月
print(p+5)  
pd.Period('2014', freq='A-DEC') - p   # 如果频率一致  相减是单位数

2012

7

In [73]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [74]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.396494
2000-02   -0.548564
2000-03   -0.810004
2000-04   -1.226796
2000-05    0.487758
2000-06   -0.739261
Freq: M, dtype: float64

In [79]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')  # Q-DEC 表示以DEC月份结束的季度  每季度最后一个月 最后一个工作日
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [ ]:
# Period和PeriodIndex对象都可以通过其asfreq方法被转换成别的频率。假设我们有一个年度时期，希望将其转换为当年年初或年末的一个月度时期。
p = pd.Period('2007', freq='A-DEC') # 年度时期
p.asfreq('M', how='start')          # 当年年末
p.asfreq('M', how='end')            # 年末的一个月度时期

In [ ]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')
p.asfreq('M', 'end')

In [80]:
# 频率转换
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006    0.031258
2007   -0.618306
2008    0.491974
2009    0.317604
Freq: A-DEC, dtype: float64

In [81]:
ts.asfreq('M', how='start')  # 转化成低频率

2006-01    0.031258
2007-01   -0.618306
2008-01    0.491974
2009-01    0.317604
Freq: M, dtype: float64

In [82]:
ts.asfreq('B', how='end')

2006-12-29    0.031258
2007-12-31   -0.618306
2008-12-31    0.491974
2009-12-31    0.317604
Freq: B, dtype: float64

In [ ]:
# 按季度计算的时期频率
# 季度型数据在会计、金融等领域中很常见。许多季度型数据都会涉及“财年末”的概念，通常是一年12个月中某月的最后一个日历日或工作日
# pandas支持12种可能的季度型频率，即Q-JAN到Q-DEC：
p = pd.Period('2012Q4', freq='Q-JAN')
p.asfreq('D', 'start')
p.asfreq('D', 'end')

In [83]:
# 要获取该季度倒数第二个工作日下午4点的时间戳
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm.to_timestamp()

Timestamp('2007-08-30 16:00:00')

In [ ]:
# ????