In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0  2.051113  0.049700    a  one
1  1.079892 -0.398020    a  two
2  0.619876 -1.786113    b  one
3 -0.269005 -2.025003    b  two
4  0.610308  0.273866    a  one

In [4]:
# 按key1进行分组，并计算data1列的平均值
grouped = df['data1'].groupby(df['key1'])
grouped   #是个GroupBy对象  还没有进行任何计算，只是含有一些有关分组键df['key1']的中间数据而已

In [5]:
grouped.mean()   # 数据（Series）根据分组键进行了聚合，产生了一个新的Series，其索引为key1列中的唯一值。

key1
a    1.247104
b    0.175435
Name: data1, dtype: float64

In [6]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()  # 取俩个作为索引
means

key1  key2
a     one     1.330711
      two     1.079892
b     one     0.619876
      two    -0.269005
Name: data1, dtype: float64

In [8]:
means.unstack()

key2       one       two
key1
a     1.330711  1.079892
b     0.619876 -0.269005

In [9]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005    1.079892
            2006    0.619876
Ohio        2005    0.891054
            2006    0.610308
Name: data1, dtype: float64