In [6]:
import numpy as np
import pandas as pd
'''
数据排序:  value_counts, argsort, sort_values, searchsorted
'''

'''
value_counts: 针对Series的，默认降序，使用场景有单个Series对象，或DataFrame['xxx'] 或者 pd.value_counts(info.group)[:10]
'''
data = pd.Series([1, 2, 4, 5, 3])
data.value_counts()

5    1
4    1
3    1
2    1
1    1
dtype: int64

In [10]:
df = pd.DataFrame( {'group':np.arange(7), 'name': np.random.randn(7)} )
df

   group      name
0      0 -0.488734
1      1  0.668618
2      2  1.230526
3      3  0.206627
4      4  0.228210
5      5  0.114541
6      6 -0.363237

In [11]:
df['group'].value_counts()

6    1
5    1
4    1
3    1
2    1
1    1
0    1
Name: group, dtype: int64

In [12]:
pd.value_counts(df.group)

6    1
5    1
4    1
3    1
2    1
1    1
0    1
Name: group, dtype: int64

In [15]:
'''
argsort: 针对Series，默认内置方法是快速排序
'''
data = pd.Series(np.random.randn(10))
data

0   -1.419240
1    1.440017
2   -0.195475
3    0.716186
4    0.788318
5   -1.189144
6   -1.425633
7    0.111006
8    1.380721
9    1.468074
dtype: float64

In [32]:
data.sort_values(ascending=False)  # 先降序排下 看下效果

9    1.468074
1    1.440017
8    1.380721
4    0.788318
3    0.716186
7    0.111006
2   -0.195475
5   -1.189144
0   -1.419240
6   -1.425633
dtype: float64

In [40]:
'''
argsort  按照值的大小 升序排列  取下标   例如x=abcd value=2314  那么排列出来后就是 2013  x[2]=1=min  x[3]=4=max 
@link https://www.cnblogs.com/yyxf1413/p/6253995.html

返回的左边是索引  右边是新排名  
例如第二行 1 8 表示现在排第8的数据来自于原数据的第1行
data[1] = 1.440017
data.argsort() 后，data[1]放到了第二行去了，表示当前第2大
'''
data.argsort()

9    9
1    8
8    7
4    6
3    5
7    4
2    3
5    2
0    1
6    0
dtype: int64

In [66]:
'''
sort_values: 针对DataFrame，返回的是DataFrame，可以指定值的列名称，方向，升降序，inplace:是否对原数据进行操作 
'''
df = pd.DataFrame( {'group':np.arange(7), 'name': np.random.randn(7)} )
df

   group      name
0      0 -0.692038
1      1  1.395965
2      2 -0.242260
3      3  0.520398
4      4 -1.081834
5      5 -0.176343
6      6 -0.249755

In [68]:
df.sort_values(by='name', axis=0, ascending=True, inplace=False)

   group      name
4      4 -1.081834
0      0 -0.692038
6      6 -0.249755
2      2 -0.242260
5      5 -0.176343
3      3  0.520398
1      1  1.395965

In [99]:
'''
searchsorted: 针对Numpy.ndarray, 寻找某个对象的位置, 有left和right的选项，可传多个值
'''
df = pd.DataFrame( {'group':np.arange(7), 'name': np.random.random(7)} )
df

   group      name
0      0  0.309751
1      1  0.533066
2      2  0.830619
3      3  0.608238
4      4  0.729292
5      5  0.084784
6      6  0.843196

In [119]:
totals = df.div(df.sum())
totals

      group      name
0  0.000000  0.078638
1  0.047619  0.135332
2  0.095238  0.210873
3  0.142857  0.154417
4  0.190476  0.185149
5  0.238095  0.021525
6  0.285714  0.214066

In [120]:
totals.sort_values(by='name',ascending=False).name.cumsum().values.searchsorted(0.5)

2

In [121]:
totals.sort_values(by='name',ascending=False).name.cumsum().values.searchsorted([0.5, 0.7])

array([2, 3])

In [122]:
type(totals.sort_values(by='name',ascending=False).name.cumsum().values)

numpy.ndarray

In [124]:
np.searchsorted([1,2,3,4,5], 3, side='left')

2

In [125]:
np.searchsorted([1,2,3,4,5], 3, side='right')

3

In [126]:
np.searchsorted([1,2,3,4,5], [-10, 10, 2, 3])

array([0, 5, 1, 2])