In [31]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'c', 'b', 'd'],
                   'key2' : ['one', 'two', 'one', 'two', 'one', 'one', 'two'],
                   'key3' : ['zz', 'xx', 'zz', 'yy', 'xx', 'zz', 'xx'],
                   'data1' : np.random.randn(7),
                   'data2' : np.random.randn(7)})
df.groupby(['key1', 'key2', 'key3']).size()

key1  key2  key3
a     one   zz      1
      two   xx      1
b     one   zz      2
      two   yy      1
c     one   xx      1
d     two   xx      1
dtype: int64

In [32]:
df.groupby(['key1', 'key2', 'key3']).size().unstack()

key3        xx   yy   zz
key1 key2
a    one   NaN  NaN  1.0
     two   1.0  NaN  NaN
b    one   NaN  NaN  2.0
     two   NaN  1.0  NaN
c    one   1.0  NaN  NaN
d    two   1.0  NaN  NaN

In [28]:
aggs = df.groupby(['key1', 'key2']).size().unstack().fillna(0)
aggs

key2  one  two
key1
a     1.0  1.0
b     2.0  1.0
c     1.0  0.0
d     0.0  1.0

In [29]:
aggs.sum(1)

key1
a    2.0
b    3.0
c    1.0
d    1.0
dtype: float64

In [30]:
aggs.sum(1).argsort()  # 按照值的大小 升序排列  取下标   例如x=abcd value=2314  那么排列出来后就是 2013  x[2]=1=min  x[3]=4=max

key1
a    2
b    3
c    0
d    1
dtype: int64

In [34]:
df.groupby(['key1', 'key2', 'key3']).size().unstack().stack()

key1  key2  key3
a     one   zz      1
      two   xx      1
b     one   zz      2
      two   yy      1
c     one   xx      1
d     two   xx      1
dtype: int64