In [3]:
import numpy as np
import pandas as pd

data = pd.read_excel('2017_113_people.xlsx')
cleandata = data.iloc[:, [9,21,22,23,24]]
mapping = {'AP指数' : 'AP',  'CDS评分' : 'CDS',  '纤维化分级' : 'result' }
cleandata.rename(columns=mapping, inplace=True)
cleandata.tail()

/Users/jack/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

     result      APRI        FIB4  AP  CDS
97        1  0.006250  124.800000   6    6
98        1  0.005288  136.442308   2    5
99        3  0.008251  227.342697   4    5
100       1  0.003869  100.982143   5    5
101       1  0.000000    0.000000   3    3

In [12]:
cleandata.groupby('result').mean()

            APRI         FIB4        AP       CDS
result
0       0.007712   761.266342  4.428571  4.857143
1       0.004929   273.356234  3.948276  5.034483
2       0.019964  2907.313099  5.176471  5.352941
3       0.013577   469.660899  6.400000  5.900000
4       0.068118  9252.502287  5.200000  5.500000

In [23]:
%matplotlib notebook
for name, group in cleandata.groupby('result'):
    print(name , len(group))

0 7
1 58
2 17
3 10
4 10

In [ ]:
# groupby后求正态分布的范围

# 定义一个求t分布的置信区间函数
def ci_t (data,confidence=0.95):
    
    # 先求一下 bins ,以便画图用得上.
    IQR = data.quantile(0.75) - data.quantile(0.25)
    bin_size = 2 * IQR / len(data)**(1.0/3)
    
    
    # 画个源数据图表.以便对源数据的一个直观了解
    plt.rcParams['font.sans-serif']=['SimHei']
    n = plt.hist(data,bins = round(bin_size),rwidth=0.9)
    plt.vlines(data.mean(), 0,max(n[0])+1,colors = "r", linestyles = "dashed",label="平均值%.2f" % np.mean(data))
    plt.title('源数据'+str(len(data))+'个样本分布 直方图')
    plt.ylabel('频数')
    plt.legend()
    plt.show()
    
    # 真正开始计算
    sample_mean = np.mean(data)
    sample_std = np.std(data)    
    sample_size = len(data)
    alpha = 1 - 0.95
    t_score = scipy.stats.t.isf(alpha / 2, df = (sample_size-1) )

    ME = t_score * sample_std / np.sqrt(sample_size)
    lower_limit = sample_mean - ME
    upper_limit = sample_mean + ME

    print( str(confidence*100)+ '%% Confidence Interval: ( %.2f, %.2f)' % (lower_limit, upper_limit))
    return lower_limit, upper_limit