In [1]:
import numpy as np
import pandas as pd
'''
数据合并:  merge, concat, cumsum
'''

'''
数据集的合并（merge）或连接（join）运算是通过一个或多个键将行链接起来的
   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

  data2 key
0      0   a
1      1   b
2      2   d

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

俩者有公共的列   先对列进行交集运算，再对第一个列进行取值  是数据库的join操作  
    select a.x1, a.x2 from a join b where a.key = b.key;
'''


'''
concat: 按一行一行的合并 
'''
'''
该数据按年度被分隔了多个文件，将之组装到一个DataFrame里面，使用pandas.concat将数据合并到一起
'''
years = range(1880, 2011)  # 左边是闭区间 右边是开区间 [1880, 2011)
pieces = []
columns = ['name', 'sex', 'births']
for year in years:
    path = 'datasets/babynames/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)
    frame['year'] = year
    pieces.append(frame)
    
names = pd.concat(pieces, ignore_index=True)   # 按行将多个DataFrame组合到一起  ignore_index不保留原始行号
names.head()

        name sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [4]:
'''
cumsum:  非常好玩的东西  可以结合百分位搜索 一起使用
'''
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7])
arr.cumsum()  # 累加  随机漫步理论

array([ 0,  1,  3,  6, 10, 15, 21, 28])

In [7]:
arr.cumsum(axis=0)

array([ 0,  1,  3,  6, 10, 15, 21, 28])