In [17]:
import numpy as np
import pandas as pd
'''
分组分类:  groupby, pivot_table, stack, unstack, unique, cut, qcut
'''

'''
groupby: "split-apply-combine" (拆分－应用－合并)
by : 可以是字典，函数，字符串或者可迭代的对象
axis : 默认是0 
level : 
as_index : 一般groupby后会变成索引，这个不会
sort : 默认是排完序后的
group_keys : 
squeeze : 
'''
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'key3' : ['x', 'x', 'y', 'x', 'y'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2 key3
0 -0.993698  0.552727    a  one    x
1  0.277411  0.311420    a  two    x
2  0.382578  0.106314    b  one    y
3 -0.781771 -1.359083    b  two    x
4  0.948832  0.046946    a  one    y

In [18]:
df.groupby('key1').size()  # 返回分组的个数

key1
a    3
b    2
dtype: int64

In [19]:
df['data1'].groupby(df['key1']).mean() # 返回各个分组的平均值

key1
a    0.077515
b   -0.199596
Name: data1, dtype: float64

In [20]:
df.groupby(['key1', 'key2']).size()  # 俩个索引

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [21]:
df.groupby(['key1', 'key2', 'key3']).size()  # 三个索引   已经分的稀巴烂了

key1  key2  key3
a     one   x       1
            y       1
      two   x       1
b     one   y       1
      two   x       1
dtype: int64

In [22]:
df.groupby(['key1', 'key2']).mean()    # 针对除索引外其他全部值做分组操作

              data1     data2
key1 key2
a    one  -0.022433  0.299836
     two   0.277411  0.311420
b    one   0.382578  0.106314
     two  -0.781771 -1.359083

In [24]:
df['data1'].groupby(df['key1']).mean()  # 针对一列做分组操作

key1
a    0.077515
b   -0.199596
Name: data1, dtype: float64

In [30]:
mean = df['data1'].groupby( [df['key1'], df['key2']] ).mean()  # 针对俩列做分组操作
mean

key1  key2
a     one    -0.022433
      two     0.277411
b     one     0.382578
      two    -0.781771
Name: data1, dtype: float64

In [33]:
key1 = np.array(['c', 'd', 'c', 'd', 'e'])
key2 = np.array(['e1', 'e2', 'e3', 'e1', 'e2'])
df['data1'].groupby([key1, key2]).mean()   # 自己传key1 和 key2 进去  自组索引   长度要和数据一样

c  e1   -0.993698
   e3    0.382578
d  e1   -0.781771
   e2    0.277411
e  e2    0.948832
Name: data1, dtype: float64