In [36]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})
pd.merge(df1, df2)
'''
数据集的合并（merge）或连接（join）运算是通过一个或多个键将行链接起来的
   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

  data2 key
0      0   a
1      1   b
2      2   d

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

俩者有公共的列   先对列进行交集运算，再对第一个列进行取值  是数据库的join操作  
    select a.x1, a.x2 from a join b where a.key = b.key;
'''

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [93]:
'''
pivok table : 透视表  根据一个或多个键对数据进行聚合，并根据行和列上的分组键将数据分配到各个矩形区域中

tips.pivot_table('tip_pct', index=['time', 'size', 'smoker'], columns='day', aggfunc='mean', fill_value=0)

使用time  size  smoker 作为索引   计算tip_pct 下的day 的mean值  如果没有默认为0

'''
tips = pd.read_csv('examples/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:5]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [94]:
# 根据day和smoker计算分组平均数      默认是平均  但是可以自己选择 一些
tips.pivot_table(index=['day', 'smoker'])

                 size       tip   tip_pct  total_bill
day  smoker
Fri  No      2.250000  2.812500  0.151650   18.420000
     Yes     2.066667  2.714000  0.174783   16.813333
Sat  No      2.555556  3.102889  0.158048   19.661778
     Yes     2.476190  2.875476  0.147906   21.276667
Sun  No      2.929825  3.167895  0.160113   20.506667
     Yes     2.578947  3.516842  0.187250   24.120000
Thur No      2.488889  2.673778  0.160298   17.113111
     Yes     2.352941  3.030000  0.163863   19.190588

In [95]:
# 想聚合tip_pct和size，而且想根据time进行分组
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'], columns='smoker')

                 size             tip_pct
smoker             No       Yes        No       Yes
time   day
Dinner Fri   2.000000  2.222222  0.139622  0.165347
       Sat   2.555556  2.476190  0.158048  0.147906
       Sun   2.929825  2.578947  0.160113  0.187250
       Thur  2.000000       NaN  0.159744       NaN
Lunch  Fri   3.000000  1.833333  0.187735  0.188937
       Thur  2.500000  2.352941  0.160311  0.163863

In [101]:
tips.pivot_table('tip_pct', index=['time', 'size', 'smoker'], columns='day', aggfunc='sum', fill_value=0)

day                      Fri       Sat       Sun      Thur
time   size smoker
Dinner 1    No      0.000000  0.137931  0.000000  0.000000
            Yes     0.000000  0.325733  0.000000  0.000000
       2    No      0.418867  4.067615  4.559198  0.159744
            Yes     1.370377  4.162693  2.494717  0.000000
       3    No      0.000000  1.855926  1.679296  0.000000
            Yes     0.000000  0.869969  0.610639  0.000000
       4    No      0.000000  1.050673  2.370288  0.000000
            Yes     0.117750  0.747088  0.386740  0.000000
       5    No      0.000000  0.000000  0.413857  0.000000
            Yes     0.000000  0.106572  0.065660  0.000000
       6    No      0.000000  0.000000  0.103799  0.000000
Lunch  1    No      0.000000  0.000000  0.000000  0.181728
            Yes     0.223776  0.000000  0.000000  0.000000
       2    No      0.000000  0.000000  0.000000  5.644187
            Yes     0.909843  0.000000  0.000000  2.064953
       3    No      0.187735  0.000000  0.000000  0.168492
            Yes     0.000000  0.000000  0.000000  0.409904
       4    No      0.000000  0.000000  0.000000  0.416757
            Yes     0.000000  0.000000  0.000000  0.310819
       5    No      0.000000  0.000000  0.000000  0.121389
       6    No      0.000000  0.000000  0.000000  0.521118

In [92]:
#data.loc[['b', 'd']]   # 针对行的   索引index 来操作的
print(data.loc[['b', 'd']])   
print(data.loc[['b', 'd'],[1]])     # 也可以分层的

b  1    0.248018
   3    0.044082
d  2   -0.065462
   3   -0.137656
dtype: float64
b  1    0.248018
dtype: float64

In [52]:
data = pd.Series(np.random.randn(9),index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    0.605925
   2   -1.512493
   3   -0.261520
b  1    0.248018
   3    0.044082
c  1   -0.039669
   2   -1.719824
d  2   -0.065462
   3   -0.137656
dtype: float64

In [83]:
df = pd.DataFrame(np.random.randn(7, 3))
df

          0         1         2
0  1.394362 -0.699584 -1.527858
1  1.518693  1.129321  1.119322
2 -0.445972 -0.704077 -0.005413
3  1.346463 -0.165001  0.360743
4 -1.251435  0.039694  1.894421
5  0.868510 -0.789692  0.696636
6 -0.089206  0.675901  1.150436

In [84]:
df.iloc[2:4, 0:3] = np.nan   # 针对值 来操作   俩个区间  可以相互切   第一个是行区间   第二个是列区间 
df

          0         1         2
0  1.394362 -0.699584 -1.527858
1  1.518693  1.129321  1.119322
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4 -1.251435  0.039694  1.894421
5  0.868510 -0.789692  0.696636
6 -0.089206  0.675901  1.150436

In [103]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot

0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
A    320.0
B    302.0
C    286.0
D    320.0
E    368.0
F    335.0
G    308.0
H    330.0
I    327.0
J    337.0
K    334.0
L    346.0
M    338.0
N    306.0
O    343.0
P    324.0
Q    340.0
R    318.0
S    308.0
T    304.0
U    326.0
V    328.0
W    305.0
X    364.0
Y    314.0
Z    288.0
dtype: float64

In [104]:
tot.sort_values(ascending=False)

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

In [105]:
'''
轴向连接
pandas.concat可以沿着一条轴将多个对象堆叠到一起
默认情况下，concat是在axis=0上工作的，最终产生一个新的Series。如果传入axis=1，则结果就会变成一个DataFrame（axis=1是列）
join='inner'即可得到它们的交集

'''
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [108]:
s4 = pd.concat([s1, s3])
pd.concat([s1, s4], axis=1, join='inner')

   0  1
a  0  0
b  1  1

In [107]:
pd.concat([s1, s2, s3], axis=1, keys=['one','two', 'three'])

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

In [109]:
pd.concat([s1, s4], axis=1, join_axes=[['a', 'c', 'b', 'e']])

     0    1
a  0.0  0.0
c  NaN  NaN
b  1.0  1.0
e  NaN  NaN

In [110]:
# 累计函数   
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7])
arr.cumsum()

array([ 0,  1,  3,  6, 10, 15, 21, 28])

In [16]:
ar=[]
for i in range(40000):
    ar.append('d')
ar[:5]

['d', 'd', 'd', 'd', 'd']