In [19]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a', 'c', 'd'],
                   'key2' : ['one', 'two', 'one', 'two', 'one', 'one', 'two'],
                   'key3' : ['zz', 'xx', 'zz', 'yy', 'xx', 'zz', 'xx'],
                   'data1' : np.random.randn(7),
                   'data2' : np.random.randn(7)})
df.groupby(['key1', 'key2', 'key3']).size()

key1  key2  key3
a     one   xx      1
            zz      1
      two   xx      1
b     one   zz      1
      two   yy      1
c     one   zz      1
d     two   xx      1
dtype: int64

In [9]:
df.groupby(['key1', 'key2', 'key3']).size().unstack()

key3        xx   yy   zz
key1 key2
a    one   1.0  NaN  1.0
     two   1.0  NaN  NaN
b    one   NaN  NaN  1.0
     two   NaN  1.0  NaN

In [20]:
aggs = df.groupby(['key1', 'key2']).size().unstack().fillna(0)
aggs

key2  one  two
key1
a     2.0  1.0
b     1.0  1.0
c     1.0  0.0
d     0.0  1.0

In [21]:
aggs.sum(1)

key1
a    3.0
b    2.0
c    1.0
d    1.0
dtype: float64

In [22]:
aggs.sum(1).argsort()  # 对下标进行排序 按照值的大小 升序排列

key1
a    2
b    3
c    1
d    0
dtype: int64